@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('normalize.css');

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    min-width: 375px;
    background-color: var(--eggshell);
    color: var(--wenge-brown);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 500;
    line-height: 1;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    color: var(--dark-charcoal);
}

h2 {
    font-size: 28px;
    color: var(--nutmeg)
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    margin: 0 0 2rem;
    padding-left: 2.5rem;
}

ol {
    counter-reset: item;
    list-style: none;
    margin-bottom: 2rem;
}

ol li::before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: 700;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    color: var(--nutmeg);
}

li + li {
    margin-top: 0.5rem;
}

ul li {
    position: relative;
}

ul li::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--nutmeg);
    position: absolute;
    top: 50%;
    left: -32px;
    border-radius: 100%;
    transform: translateY(-50%);
}

hr {
    border: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: 2rem;
}

table {
    width: 100%;
}

th, td {
    padding: 0.625rem;
    border-bottom: 1px solid var(--light-grey);
}

tr:last-child th,
tr:last-child td {
    border-bottom: 0;
}

th {
    font-weight: 400;
    text-align: left;
    padding-left: 1.875rem;
    width: 50%;
}

td {
    color: var(--nutmeg);
    font-weight: 700;
    padding-left: 0.5rem;
}

.container {
    max-width: 736px;
}

.card {
    background-color: var(--white);
}

.card-body {
    padding: 2.5rem 2rem;
}

.image {
    max-width: 100%;
    display: block;
    height: auto;
}

.prep {
    background-color: var(--rose-white);
    padding: 1.5rem;
    border-radius: 0.875rem;
    margin-bottom: 2rem;
}

.prep-title {
    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark-raspberry);
}

.prep ul {
    margin-bottom: 0;
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.-mt-1 {
    margin-top: -1.25rem;
}

@media(min-width: 768px) {
    h1 {
        font-size: 40px;
        margin-bottom: 1.5rem;
    }

    .container {
        margin-top: 122px;
        margin-bottom: 124px;
    }
    
    .card {
        padding: 2.5rem 2.5rem 1.75rem;
        border-radius: 1.5rem;
    }

    .image {
        margin-bottom: 2.5rem;
        border-radius: 0.75rem;
    }

    .card-body {
        padding: 0;
    }

    .prep {
        padding: 1.75rem;
    }
    
}
